*{
    margin: 0 auto;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');


body{
    background-color: #fff;
    font-family: 'Noto Sans HK', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20em;
    position: relative;
    min-height: 100vh;

}
.container main h1, .container main h2{
    color:#0B3954;
    margin: 1.5em auto;
    text-shadow: 1px 1px 5px #0B3954;
    letter-spacing: 0.3em;
}
.container{
    background-color: white;
    text-align: center;
    display: flex;
}

.container #formulario{
    width: 60vw;
    margin-bottom: 5em; 
    padding: 0;
}
.container #formulario{
    background-color: rgba(11,57,84,0.2);
    color: black;
    text-align: left;
    margin-top: 3.5em;
    padding: 1.5em;
    border-radius: 0.5em;
    border: solid 2px #0B3954;
}
#formulario p{
    font-size: smaller;
}
#formulario input {
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid #0B3954;
    padding: 0.6em;
    margin-bottom: 1.3em;
} 
.container #formulario label{
    display: block;
    margin-bottom: 0.3em;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
.container #formulario input[type="checkbox"], .container #formulario .input-group-envio label {
    width: initial;
    display: inline;
}

.container #formulario button{
    color: whitesmoke; 
    border:solid 1px whitesmoke;
    background-color: #ec5151;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
    margin-top: 2em;
}   

#formulario input:focus{
    background-color: whitesmoke;
    color:#ec5151 ;
    outline: none;
}
.container #formulario button:hover{
    background-color: whitesmoke;
    color: #ec5151;
    border:solid 1px #ec5151;
}
/* TABLA */

table {
   border-collapse: collapse;
   width: 90%;
   border: 2px solid #0B3954;
}
th,td {
    border: 1px solid #0B3954;
    padding: 0.5em;
}
th {
    font-variant: small-caps;
    background-color: #0B3954;
    border: 1px solid white;   
    text-align: center;
    font-weight: bold; 
    font-size: 1em;
    color: whitesmoke; 
    letter-spacing: 0.4em; 
}

/* validaciones */
input:invalid:focus{
    box-shadow: 3px 2px 5px #ec5151;}

input:valid{
    box-shadow: 3px 2px 5px #0B3954;}