*{
    margin: 0 auto;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

 main h1,  main h2{
    color:#0B3954;
    margin: 1.5em auto;
    text-shadow: 1px 1px 5px #0B3954;
    letter-spacing: 0.3em;
}
main {
    background-color: white;
    text-align: center;
}

 #formulario{
    width: 80%;
    margin-bottom: 5em; 
    padding: 0;
}
 #formulario{
    background-color: rgba(11,57,84,0.2);
    color: black;
    text-align: left;
    margin-top: 3.5em;
    padding: 1.5em;
    border-radius: 0.5em;
    border: solid 2px #0B3954;
}
#formulario p{
    font-size: smaller;
}
#formulario input {
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid #0B3954;
    padding: 0.6em;
    margin-bottom: 1.3em;
} 
 #formulario label{
    display: block;
    margin-bottom: 0.3em;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
 #formulario input[type="checkbox"],  #formulario .input-group-envio label {
    width: initial;
    display: inline;
}

 #formulario button{
    color: whitesmoke; 
    border:solid 1px whitesmoke;
    background-color: #ec5151;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
    margin-top: 2em;
}   

#formulario input:focus{
    background-color: whitesmoke;
    color:#ec5151 ;
    outline: none;
}
 #formulario button:hover{
    background-color: whitesmoke;
    color: #ec5151;
    border:solid 1px #ec5151;
}
/* TABLA */

table {
   border-collapse: collapse;
   width: 90%;
   border: 2px solid #0B3954;
}
th,td {
    border: 1px solid #0B3954;
    padding: 0.5em;
}
th {
    font-variant: small-caps;
    background-color: #0B3954;
    border: 1px solid white;   
    text-align: center;
    font-weight: bold; 
    font-size: 1em;
    color: whitesmoke; 
    letter-spacing: 0.4em; 
}

/* validaciones */
#formulario input:invalid:focus{
    box-shadow: 3px 2px 5px #ec5151;}

#formulario input:valid{
    box-shadow: 3px 2px 5px #0B3954;}

@media screen and (max-width:320px){
    table tr td:nth-child(3), table tr th:nth-child(3), table tr td:nth-child(4), table tr th:nth-child(4), table tr td:nth-child(5), table tr th:nth-child(5), table tr td:nth-child(6), table tr th:nth-child(6), table tr td:nth-child(7), table tr th:nth-child(7), table tr td:nth-child(8), table tr th:nth-child(8){
        display:none;
    }
    table{
        margin-bottom: 5em;
    };
}