*{
    margin: 0 auto;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

body{
    background-color: #fff;
    font-family: 'Noto Sans HK', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 15em;
    position: relative;
    min-height: 100vh;
}
main h1{
    color:#0B3954;
    margin: 1.5em auto;
    margin-bottom: 5em;
    text-shadow: 1px 1px 5px #0B3954;
    letter-spacing: 0.3em;
}


main{
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

