* {
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

body{
    background-color: #fff;
    font-family: 'Noto Sans HK', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.fijar{
    position: fixed;
    background-color: #fff;
}

/* Header con nav, barra busqueda */
header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 15vh 8vh;
    grid-template-areas: 
    " barra barra barra barra barra barra barra barra barra barra barra barra"
    " nav nav nav nav nav nav nav nav nav nav nav nav";
    
}
header .barra{
    grid-area: barra;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header nav {
    background-color: #ec5151;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family:'Alkatra', cursive;
    word-spacing: 50px;
    
}

header nav ul{
    list-style: none;
    padding: 0;
}

header nav ul li{
    display: inline-block;  
}

header nav ul li a{
    text-decoration: none; 
    color: whitesmoke;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    
}

header > div{
    width: 100%;
} 

header #logo {
    grid-area: logo;    
}
header #logo img{
    width: 130px;
}
header #carrito {
    grid-area: carrito;
}

header #carrito i{
    color: #EF233C;
    font-size: 1.6em;
    margin-left: 0.5em;
}
header #barra-busqueda {
    grid-area: busq;     
}
#barra-busqueda form {
    border: 1px solid #0B3954;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
}
#barra-busqueda form input {
    border-radius: 0.2em;
    padding: 10px;
    width: 400px;
    height: 40px;
    color: #0B3954;
    outline: none;
    font-size: 1em;
    border: none;
}
#barra-busqueda form input:focus, #barra-busqueda form button:active, .suscripcion input:focus {
    box-shadow: 0px 0px 5px 1px #0B3954;
}
.icon-search::before {
    content: "\e986";
    font-weight: bold;
}

#barra-busqueda form button {
    color: white;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #0B3954;
}

/* Contenido central */

.container{
    background-color: whitesmoke;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 15% 10% 70% 5%; */
    grid-template-rows:  10% 85% 5%;
    grid-template-areas:
    /* "galeria galeria galeria galeria galeria galeria galeria galeria galeria galeria galeria galeria" */ 
    "aside1 aside1 main main main main main main main main main main " 
    "aside1 aside1 main main main main main main main main main main "
    "footer footer footer footer footer footer footer footer footer footer footer footer"; 
    gap: 15px 5px;
    overflow: hidden; /* ESTO???? */
}

/* MAIN */
.container main {
    height: auto;
    grid-area: main;
    background-color: white;
   /*  background-color: rgba(11, 57, 84, 0.8); */
}

/* Galeria */

/* .container .galeria{
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    grid-area: galeria;
    background-color: antiquewhite;

}
.container .galeria img{
    scroll-snap-align: start;
   
}
.container .galeria li{
    display: inline-block;
}
.container .galeria img:hover{
    width: 400px;
    filter: contrast(120%);
}  */

 





/* FOOTER */
.container footer {
    grid-area: footer;
    background-color: #ec5151;
    width: 100%;
    position: sticky;
    bottom: 0;
    height: max-content;
}
.container footer .container-footer{
    color: whitesmoke;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: start;
    overflow: hidden;
    flex-wrap: wrap;
}


.info, .contacto, .suscripcion{
    margin: 1.8em;
    padding: 1em;
    line-height: 1.5em;
    font-size: 0.9em;
}
.copy{
    line-height: 2.5em;
}

.redes{
    margin-top: 2.5em;
}

.info h4, .contacto h4, .suscripcion h4,.redes h4 {
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    font-family:'Alkatra', cursive;  
}

.info a, .contacto a {
    text-decoration: none;
    color: whitesmoke; 
}

.contacto li{
    list-style-type: none;
    
}
.info li {
    list-style-type: '>  ';
    
}

.info li::marker{
    font-size: 0.6em;
}

.info a:hover{
    text-decoration: underline;
}
.contacto img{
    width: 1.3em;
}
.redes img{
    width: 1.8em;
}
.btn-whatsapp img{
    width: 5em;
    position: fixed;
    right: 15px;
    bottom: 15px;

}
.suscripcion input{
    width: 250px;
    border-radius: 0.2em;
    padding: 0.3em;
    height: 25px;
    color: #0B3954;
    outline: none;
    font-size: 0.8em;
    border: none;
}

.suscripcion input[type="submit"] {
    width: auto;
    background-color: rgba(11, 57, 84, 1);
    color: whitesmoke;
}

.container aside {
    background-color:#0B3954;
    grid-area: aside1;
    padding: 10px;
    color:  whitesmoke;
}

.container aside p {
    margin-top: 30px;
}

/* CARDS */
.container main .cards-container {
    text-align: center;
}
.container main .cards-container p{
    margin-bottom: 0.6em;
}
.section-cards-header h1 {
    color:#0B3954;
    margin: 1.5em auto;
    text-shadow: 1px 1px 5px #0B3954;
    letter-spacing: 0.3em;
}

#cards {
    display: inline-block;
    border: none;
    width: 17em;
    height: 26em;
    padding: 0;
    color:#0B3954;
    margin: 1em;
    font-size: 0.9em;
    box-shadow: 0px 0px 6px 0.5px #525a5f;
    border-radius: 0.5em;
    overflow: hidden;
}
#cards img {
    width: 17em;
    height: 17em;
}
#card #botones{
    width: 10em;
    height: 1.5em;
}
#cards #cart{
    font-size: 1em; 
    outline: none;
    border: none; 
    background-color: transparent;
}
#cards #cart:hover{
    font-size: 1em; 
    outline: none;
    border: none; 
    text-shadow: 1px 1px 5px #0B3954;
}

#cards #fav{
    outline: none;
    border: none; 
    background-color: transparent;
    color: #EF233C;
    font-size: 1em;
} 
.section-cards-header-destacadas h1 {
    color: whitesmoke;
    margin: 1.3em auto;
    text-shadow: 1px 1px 5px whitesmoke;
    letter-spacing: 0.1em;
}
#cards-destacadas img {
    width: 5em;
    height: 5em;
    margin: 0.3em;
}
#cards-destacadas {
    display: inline-block;
    color: #0B3954;
    border: none;
    width: 10em;
    height: 14em;
    padding: 0.3em;
    background-color: white;
    margin: 0.5em;
    border-radius: 0.3em;

}

#cards-destacadas h3 {
    font-size: 12px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}







/* Media Queries */
/* barra busqueda */


@media all and (max-width: 640px){
    header #logo img{
                     width: 80px;
    }
    header nav{
        font-size: 1em;
        letter-spacing: 2px;
        word-spacing: 8px;
    }
}

@media all and (min-width: 640px) and (max-width:1280px){
    header #logo img{
                     width: 130px;
    }}
@media all and (min-width:1280px){
    header #logo img{
                    width: 150px;
    }}
    


