* {
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

body{
    background-color: #fff;
    font-family: 'Noto Sans HK', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 15em;
    position: relative;
    min-height: 100vh;
}
.fijar{
    position: fixed;
    background-color: #fff;
    z-index: 1000;
}

/* Header con nav, barra busqueda */
header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 15vh 8vh;
    grid-template-areas: 
    " barra barra barra barra barra barra barra barra barra barra barra barra"
    " nav nav nav nav nav nav nav nav nav nav nav nav"; 
     
}
header .barra{
    grid-area: barra;
    display: flex;
    align-items: center;
    justify-content: space-around;     
}
header nav {
    background-color: #ec5151;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family:'Alkatra', cursive;
    word-spacing: 50px;  
}
header nav ul{
    list-style: none;
    padding: 0;
}
header nav ul li{
    display: inline-block;  
}
header nav ul li a{
    text-decoration: none; 
    color: whitesmoke;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;    
}
header > div{
    width: 100%;
} 
header #logo {
    grid-area: logo;    
}
header #logo img{
    width: 130px;
}
header #carrito {
    grid-area: carrito;
}
header #carrito i{
    color: #EF233C;
    font-size: 1.6em;
    margin-left: 0.5em;
}
header #barra-busqueda {
    grid-area: busq;     
}
#barra-busqueda form {
    border: 1px solid #0B3954;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
}
#barra-busqueda form input {
    border-radius: 0.2em;
    padding: 1em;
    width: 50vw;
    height: 2.5em;
    color: #0B3954;
    outline: none;
    font-size: 1em;
    border: none;
}
#barra-busqueda form input:focus, #barra-busqueda form button:active, .suscripcion input:focus {
    box-shadow: 0px 0px 5px 1px #0B3954;
}
.icon-search::before {
    content: "\e986";
    font-weight: bold;
}
#barra-busqueda form button {
    color: white;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #0B3954;
}
/* Contenido central */
.container{
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 5% 10% 80% 5%; */
     grid-template-rows:  10% 85% 5%;
     grid-template-areas:
    "aside1 aside1 main main main main main main main main main main " 
    "aside1 aside1 main main main main main main main main main main "
    "footer footer footer footer footer footer footer footer footer footer footer footer"; 
   /*  grid-template-areas:
    "carr carr carr carr carr carr carr carr carr carr carr carr " 
    "aside1 aside1 main main main main main main main main main main " 
    "aside1 aside1 main main main main main main main main main main "
    "footer footer footer footer footer footer footer footer footer footer footer footer";  */
    overflow: hidden; /* ESTO???? */
}
#videoTarjeta{
    margin: 2.5em;
}
/* MAIN */
.container main {
    height: fit-content;
    grid-area: main;
    background-color: white;
}
@keyframes cambiarColor {
    0% {
        background-color: lightblue;
    }
    50%{
        background-color: #98BDC9;
    }
    100% {
        background-color: #0B3954;
    }}
.container main h4{
    margin: 2em;
    text-align: center;
    background-color:lightblue;
    padding: 2em;
    border-radius: 0.2em;
    font-size: 1.5em;
    animation: cambiarColor 2s 1s;
    animation-iteration-count: infinite;
}

/* FOOTER */
.container footer {
    grid-area: footer;
    background-color: #ec5151;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.container footer .container-footer{
    color: whitesmoke;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: start;
    overflow: hidden;
    flex-wrap: wrap;
}
.info, .contacto, .suscripcion{
    margin: 1.8em;
    padding: 1em;
    line-height: 1.5em;
    font-size: 0.9em;
}
.copy{
    line-height: 2.5em;
}
.redes{
    margin-top: 2.5em;
}
.info h4, .contacto h4, .suscripcion h4,.redes h4 {
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    font-family:'Alkatra', cursive;  
}
.info a, .contacto a {
    text-decoration: none;
    color: whitesmoke; 
}
.contacto li{
    list-style-type: none;  
}
.info li {
    list-style-type: '>  ';  
}
.info li::marker{
    font-size: 0.6em;
}
.info a:hover{
    text-decoration: underline;
}
.contacto img{
    width: 1.3em;
}
.redes img{
    width: 1.8em;
}
.btn-whatsapp img{
    width: 5em;
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.suscripcion input{
    width: 250px;
    border-radius: 0.2em;
    padding: 0.3em;
    height: 25px;
    color: #0B3954;
    outline: none;
    font-size: 0.8em;
    border: none;
}
.suscripcion input[type="submit"] {
    width: auto;
    background-color: rgba(11, 57, 84, 1);
    color: whitesmoke;
}
.container aside {
    background-color:#0B3954;
    grid-area: aside1;
    padding: 10px;
    padding-bottom: 5em;
    color:  whitesmoke;
    height:max-content;
    
}

/* CARDS */
.container main .cards-container {
    text-align: center;
}
.container main .cards-container p{
    margin-bottom: 0.6em;
}
.section-cards-header h1 {
    color:#0B3954;
    margin: 1.5em auto;
    text-shadow: 1px 1px 5px #0B3954;
    letter-spacing: 0.3em;
    z-index: 9999;
}
#cards {
    display: inline-block;
    border: none;
    width: 17em;
    height: 26em;
    padding: 0;
    color:#0B3954;
    margin: 1em;
    font-size: 0.9em;
    box-shadow: 0px 0px 6px 0.5px #525a5f;
    border-radius: 0.5em;
    overflow: hidden;
}
#cards img {
    width: 17em;
    height: 17em;
}
#cards img:hover {
    transform: scale(1.2);
    overflow: hidden;
    transition: 1.5s ease;
    
}
#card #botones{
    width: 10em;
    height: 1.5em;
}
#cards #cart{
    font-size: 1em; 
    outline: none;
    border: none; 
    background-color: transparent;
}
#cards #cart:hover{
    text-shadow: 1px 1px 5px #0B3954;
}
#cards #fav{
    outline: none;
    border: none; 
    background-color: transparent;
    color: #EF233C;
    font-size: 1em;
} 
.section-cards-header-destacadas h1 {
    color: whitesmoke;
    margin: 1.3em auto;
    text-shadow: 1px 1px 5px whitesmoke;
    letter-spacing: 0.1em;
}
#cards-destacadas img {
    width: 7em;
    height: 7em;
    margin: 0.3em;
}
#cards-destacadas {
    display: inline-block;
    color: #0B3954;
    border: none;
    width: 10em;
    height: 14em;
    padding: 0.3em;
    background-color: white;
    margin: 0.5em;
    border-radius: 0.3em;
}

#cards-destacadas h3 {
    font-size: 12px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}

#cards-destacadas #fav-d{
    outline: none;
    border: none; 
    background-color: transparent;
    color: #EF233C;
    font-size: 1em;
}
#cards-destacadas #cart-d{
    font-size: 1em; 
    outline: none;
    border: none; 
    background-color: transparent;
    color: #EF233C;
}
#cards-destacadas #cart-d:hover{
    font-size: 1.2em; 
}
#cards-destacadas #fav-d:hover{
    font-size: 1.2em; 
}

/* Media Queries */

@media all and (max-width: 330px){
    header #logo img{
                     width: 60px;
    }
    header{
        grid-template-rows: 8vh 5vh;
    } 
    header nav{
        font-size: 0.4em;
        letter-spacing: 0;
        word-spacing: 0px;
        height: 35px;
        line-height: 0.5em;
        padding: 0.2em;  
    }
    aside{
       display: none;
    }
    .container{
        grid-template-areas:
        "main main main main main main main main main main main main " 
        "main main main main main main main main main main main main "
        "footer footer footer footer footer footer footer footer footer footer footer footer"; 
        margin-top: 1.5em;
    }
}
@media all and (max-width: 480px){
    header #logo img{
                     width: 75px;
    }
    header{
        grid-template-rows: 7vh 4vh;
    } 
    header nav{
        font-size: 0.7em;
        letter-spacing: 2px;
        word-spacing: 8px;
        height: 35px;
        line-height: 0.5em;
        padding: 0.5em;
    }
    aside{
       display: none;
    }
    .container{
        grid-template-areas:
        "main main main main main main main main main main main main " 
        "main main main main main main main main main main main main "
        "footer footer footer footer footer footer footer footer footer footer footer footer"; 
        margin-top: 1.5em;
    }
    #barra-busqueda form input {
        
        padding: 0.5em;
        width: 20vw;
        height: 0.5em;
        font-size: 0.8em;  
    }


}



@media all and (min-width: 480px) and (max-width:1280px){
    header #logo img{
                     width: 130px;
    }
    header nav{
        font-size: 1em;
        letter-spacing: 2px;
        word-spacing: 8px;
    }
    aside{
       display: none;
    }
    .container{
        grid-template-areas:
        "main main main main main main main main main main main main " 
        "main main main main main main main main main main main main "
        "footer footer footer footer footer footer footer footer footer footer footer footer"; 
        margin-top: 1.5em;
    }


}



