* {
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

body{
    background-color: #fff;
    font-family: 'Noto Sans HK', sans-serif;
    height: 100%;
}
.fijar{
    position: fixed;
    background-color: #fff;
}
header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 15vh 8vh;
    grid-template-areas: 
    " barra barra barra barra barra barra barra barra barra barra barra barra"
    " nav nav nav nav nav nav nav nav nav nav nav nav";
    
}
header .barra{
    grid-area: barra;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header nav {
    background-color: #EF233C;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family:'Alkatra', cursive;
    word-spacing: 50px;
    
}

header nav ul{
    list-style: none;
    padding: 0;
}

header nav ul li{
    display: inline-block;  
}

header nav ul li a{
    text-decoration: none; 
    color: whitesmoke;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    
}

header > div{
    width: 100%;
} 

header #logo {
    grid-area: logo;    
}
header #logo img{
    width: 130px;
}
header #carrito {
    grid-area: carrito;
}

header #carrito img{
    width: 40px; 
    margin: 0;
}

header #barra-busqueda {
    grid-area: busq;
    
     
}
#barra-busqueda form {
    border: 1px solid #0B3954;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
}
#barra-busqueda form input {
    border-radius: 0.2em;
    padding: 10px;
    width: 400px;
    height: 40px;
    color: #0B3954;
    outline: none;
    font-size: 1em;
    border: none;
}
#barra-busqueda form input:focus, #barra-busqueda form button:active, .suscripcion input:focus {
    box-shadow: 0px 0px 5px 1px #0B3954;
}
.icon-search::before {
    content: "\e986";
    font-weight: bold;
}

#barra-busqueda form button {
    color: white;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #0B3954;
}


.container{
    background-color: mediumseagreen;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 10% 70% 5%; 
    grid-template-areas: 
    "aside1 aside1 main main main main main main main main main main"
    "aside1 aside1 main main main main main main main main main main "
    "aside1 aside1 main main main main main main main main main main "
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    overflow: hidden; /* ESTO???? */
}
.container main {
    /* height: 500px; */
    grid-area: main;
    background-color: rgba(11, 57, 84, 0.8);
}

.container footer {
    grid-area: footer;
    background-color: rgba(239,35,60,1);
    width: 100%;
    position: sticky;
    bottom: 0;
    height: max-content;
}
.container footer .container-footer{
    color: whitesmoke;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: start;
    overflow: hidden;
    flex-wrap: wrap;
}


.info, .contacto, .suscripcion{
    margin: 1.8em;
    padding: 1em;
    line-height: 1.5em;
}
.copy{
    line-height: 2.5em;
}

.redes{
    margin-top: 2.5em;
}

.info h4, .contacto h4, .suscripcion h4,.redes h4 {
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    font-family:'Alkatra', cursive;  
}

.info a, .contacto a {
    text-decoration: none;
    color: whitesmoke; 
}

.info li, .contacto li{
    list-style-type: none;
}

.info a:hover{
    text-decoration: underline;
}
.contacto img{
    width: 1.3em;
}
.redes img{
    width: 1.8em;
}
.btn-whatsapp img{
    width: 5em;
    position: fixed;
    right: 15px;
    bottom: 15px;

}
.suscripcion input{
    width: 250px;
    border-radius: 0.2em;
    padding: 0.3em;
    height: 25px;
    color: #0B3954;
    outline: none;
    font-size: 0.8em;
    border: none;
}

.suscripcion input[type="submit"] {
    width: auto;
    background-color: rgba(11, 57, 84, 1);
    color: whitesmoke;
}







.container aside {
    background-color: whitesmoke;
    grid-area: aside1;
    padding: 10px;
    color: #0B3954;
}

.container aside p {
    margin-top: 30px;
}




.container main .cards-container {
    text-align: center;
}

section img {
    width: 100px;
    /* float: left; */
    margin-bottom: 20px;
}

section {
    display: inline-block;
    border: 1px dashed lightblue;
    /* width: 350px; */
    padding: 15px;
    background-color:#943;
    color: white;
    margin: 25px;
    border-radius: 15px;
}

section h3 {
    font-size: 24px;
    margin-bottom: 30px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}

.section-cards-header h1 {
    color: whitesmoke;
    margin: 40px;
}



/* Media Queries */
/* barra busqueda */


@media all and (max-width: 640px){
    header #logo img{
                     width: 80px;
    }
    header nav{
        font-size: 1em;
        letter-spacing: 2px;
        word-spacing: 8px;
    }
}

@media all and (min-width: 640px) and (max-width:1280px){
    header #logo img{
                     width: 130px;
    }}
@media all and (min-width:1280px){
    header #logo img{
                    width: 150px;
    }}
    


